
    <mat-card>
        <mat-card-title>Titulo do Card</mat-card-title>
        <mat-card-subtitle>Subtitulo do Card</mat-card-subtitle>
        <mat-card-content>
            <form action="">
                <div fxLayout="row wrap">
                    <mat-form-field id="inputNome" fxFlex="20">
                        <input matInput placeholder="Nome">
                    </mat-form-field>
                    <mat-form-field id="inputIdade" fxFlex="20">
                        <input matInput placeholder="Idade">
                    </mat-form-field>
                    <mat-form-field id="inputApelido" fxFlex="40">
                        <input matInput placeholder="Apelido">
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

