
    <mat-card>
        <mat-card-title>Titulo do Card</mat-card-title>
        <mat-card-subtitle>Subtitulo do Card</mat-card-subtitle>
        <mat-card-content>
            <form action="">
                <div fxLayout="row wrap">
                    <mat-form-field id="inputNome" fxFlex.xs="100" fxFlex.sm="100"  fxFlex.md="80" fxFlex="70">
                        <input matInput placeholder="Nome">
                    </mat-form-field>
                    <mat-form-field id="inputIdade" fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="20" fxFlex="10">
                        <input matInput placeholder="Idade">
                    </mat-form-field>
                    <mat-form-field id="inputApelido" fxFlex.xs="100" fxFlex.sm="30" fxFlex.md="40" fxFlex="20">
                        <input matInput placeholder="Apelido">
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

